# Object files
*.o
*.ko
*.obj
*.elf

# Dependency files
*.d

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

# temporary saves from editors
*~
\#*
.\#*

# generated sources
src/grammar.c
src/scanner.c
grammar.tab.h

# binary
src/bcc
bcc
cc1

#test dir
test/
