# Object files
*.o
*.ko
*.obj
*.elf

# Dependency files
*.d

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

# temporary saves from editors
*~
\#*
.\#*

# generated sources
*/parser.c
*/scanner.c
*/parser.tab.h

# binary
src/cc1/cc1
src/bcc/bcc

#test dir
test/
